body {
    height: 100vh;
margin: 0;
display: flex;
justify-content: center;
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
overflow-x: hidden;
}

.food{
margin-top: 95px;
background-color: black;
}
